<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HLDDZ_MainGame0_2x_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,26}</string>
                <key>spriteSourceSize</key>
                <string>{29,26}</string>
                <key>textureRect</key>
                <string>{{263,19},{29,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HLDDZ_MainGame0_2x_00_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{165,210},{26,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HLDDZ_MainGame0_2x_00_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{297,19},{28,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HLDDZ_MainGame0_2x_00_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{341,195},{26,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HLDDZ_MainGame0_2x_00_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{209,210},{26,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HLDDZ_MainGame0_2x_00_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,40}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{1,212},{24,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HLDDZ_MainGame0_2x_00_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{253,210},{26,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HLDDZ_MainGame0_2x_00_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{297,79},{26,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HLDDZ_MainGame0_2x_00_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{1,168},{38,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HLDDZ_MainGame0_2x_00_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{341,19},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HLDDZ_MainGame0_2x_00_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{115,168},{30,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HLDDZ_MainGame0_2x_00_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{30,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{147,166},{30,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HLDDZ_MainGame0_2x_00_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{81,168},{32,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HLDDZ_MainGame0_2x_00_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{263,131},{26,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HLDDZ_MainGame0_2x_00_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{16,74}</string>
                <key>spriteSourceSize</key>
                <string>{18,82}</string>
                <key>textureRect</key>
                <string>{{275,1},{16,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HLDDZ_MainGame0_2x_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,26}</string>
                <key>spriteSourceSize</key>
                <string>{29,26}</string>
                <key>textureRect</key>
                <string>{{263,47},{29,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HLDDZ_MainGame0_2x_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{275,159},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HLDDZ_MainGame0_2x_01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{297,49},{28,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HLDDZ_MainGame0_2x_01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{307,107},{26,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HLDDZ_MainGame0_2x_01_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{297,203},{26,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HLDDZ_MainGame0_2x_01_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,40}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{43,212},{24,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HLDDZ_MainGame0_2x_01_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{303,159},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HLDDZ_MainGame0_2x_01_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{341,107},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HLDDZ_MainGame0_2x_01_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{41,168},{38,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HLDDZ_MainGame0_2x_01_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{341,63},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HLDDZ_MainGame0_2x_01_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{179,166},{30,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HLDDZ_MainGame0_2x_01_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{30,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{211,166},{30,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HLDDZ_MainGame0_2x_01_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{30,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{243,166},{30,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HLDDZ_MainGame0_2x_01_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{26,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{341,151},{26,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HLDDZ_MainGame0_2x_01_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{19,78}</string>
                <key>spriteSourceSize</key>
                <string>{19,82}</string>
                <key>textureRect</key>
                <string>{{85,212},{19,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HLDDZ_MainGame0_2x_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{29,26}</string>
                <key>textureRect</key>
                <string>{{263,103},{27,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HLDDZ_MainGame0_2x_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,26}</string>
                <key>spriteSourceSize</key>
                <string>{29,26}</string>
                <key>textureRect</key>
                <string>{{263,75},{29,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HLDDZ_MainGame0_2x_0card_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{129,163}</string>
                <key>spriteSourceSize</key>
                <string>{133,165}</string>
                <key>textureRect</key>
                <string>{{132,1},{129,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HLDDZ_MainGame0_2x_0card_f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{129,165}</string>
                <key>spriteSourceSize</key>
                <string>{129,167}</string>
                <key>textureRect</key>
                <string>{{1,1},{129,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>puke.png</string>
            <key>size</key>
            <string>{370,237}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b7581a750bc7e617840e4719bb584f8:9d341dccb8f613777784afe73aa3c87a:56971e5ac62f1f6c931570a29ce5837b$</string>
            <key>textureFileName</key>
            <string>puke.png</string>
        </dict>
    </dict>
</plist>
